.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert();
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 6px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 12px;
}

/* Dark black scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000; /* Pure black track */
}

::-webkit-scrollbar-thumb {
  background: #444444;  /* Dark gray thumb */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666666; /* Lighter on hover */
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #444444 #000000; /* thumb color, track color */
}

.logoSize{
  width: 23px;
  height: 23px;
}
.white{
  color: white;
}